body {
    font-family: 'Cinzel', Arial, sans-serif;
    background-color: #0A1F44;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    flex-direction:column;
}

.navbar {
    transition: all 0.3s ease-in-out;
    padding: 1em;
    border-bottom: 2px solid #d4af37;
}
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
}
.navbar-brand img {
    height: 80px;
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: #d4af37;
    position: relative;
    transition: color 0.3s ease-in-out;
    padding: 10px 15px;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #d4af37;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}
.reservation-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #122654;
    border-radius: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(212, 175, 55, 0.5), 0 4px 8px rgb(212, 175, 55);
}

.accordion-button {
    background: linear-gradient(135deg, #8d5524, #c19a6b);
    color: #f8f9fa;
    font-weight: bold;
    border-radius: 10px;
}
.accordion-button:not(.collapsed) {
    color: #121212;
    background: linear-gradient(135deg, #eacda3, #d6ae7b);
    box-shadow: 0 4px 10px rgba(234, 205, 163, 0.3);
}
.accordion-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    border: none;
}
.accordion-body {
    background-color: #2c2c2c;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}
.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.menu-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}
.menu-item .details {
    flex: 1;
}
.menu-item .details p {
    margin: 0;
    color: #f8f9fa;
}
.hero {
    flex: 1;
}
.container {
    flex: 1;
}

footer {
    margin-top: auto;
}